DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Map /storage/bukti_undangan to public/storage/bukti_undangan
    RewriteRule ^storage/bukti_undangan/(.*)$ public/storage/bukti_undangan/$1 [L]

    # Skip rewriting for static files
    RewriteRule \.(jpg|jpeg|png|gif|pdf|JPG|JPEG|PNG|GIF|PDF)$ - [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP_AUTHORIZATION}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller (Laravel public/)...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ public/index.php [L]
</IfModule>
